<h2><%= link_to article.title, article_path(article) %></h2>

<p><%= truncate(article.text, length: 150) %></p>
<%= link_to(image_tag(@article.image.thumb.url, alt: 'Image'), @article.image.url, target: '_blank') if @article.image? %>

<p><%= link_to 'Back', article_path(article) %></p>
<hr>
