<% [:alert, :notice, :error].select { |type| !flash[type].blank? }.each do |type| %>
<p>
 <% if flash[:notice] %>
   <div class="alert-message error">
     <h2 style="color: #ffffff;">Notice:</h2> <br/>
     <%= flash[type] %>
   </div>
<% elsif flash[:error] %>
   <div class="alert-message error">
     <h2 style="color: #ffffff;">Errors</h2> <br/>
     <% flash[:error].each_with_index do |error, index| %>
         <%= index+1 %>. <%= error %> <br/>
     <% end %>
   </div>
 <% end %>


  </p>
 <% end %>
